
@{
    ViewData["Title"] = "Index";
}

<div class="col text-center">



    <h2 id="bingo " class="index"> El Bingo Online</h2>

    <img src="~/images/bingo.jpg" height="500px" width="900px" />

    <footer class="index">
        <p>&copy; 2019 - Bingo Online</p>
    </footer>
</div>
